---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Sergio Garcia</div>
    <div class="text-3xl py-3 font-bold">Web Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Currently specializing in <strong>SEO.</strong> Developing solutions for websites rank as far as they deserve.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
      <a href="https://github.com/sergio-gn" target="_blank" class="btn btn-outline ml-5">Github</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Easy Cart"
    img="/easycart.webp"
    desc="Web App with e-commerce logic. Developed to resellers take orders from the main store."
    url="https://tambasa-c53d7.firebaseapp.com/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="How Rare is my Sunset"
    img="/raresunset.webp"
    desc="Upload your image, and the trained machine learning will return the score of your sunset photo"
    url="https://sergiogn.pythonanywhere.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Earth Hoomans"
    img="/earth-hoomans.webp"
    desc="Blog focused on publishing news about ambientalism."
    url="https://earthhoomans.com/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>