---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Personal Projects</div>
  </div>

  <HorizontalCard
    title="Easy Cart"
    img="/easycart.webp"
    desc="Web App with e-commerce logic. Developed to resellers take orders from the main store."
    url="https://tambasa-c53d7.firebaseapp.com/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Earth Hoomans"
    img="/earth-hoomans.webp"
    desc="Blog focused on publishing news about ambientalism."
    url="https://earthhoomans.com/"
    badge="BLOG"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="How Rare is my Sunset"
    img="/raresunset.webp"
    desc="Upload your image, and the trained machine learning will return the score of your sunset photo"
    url="https://sergiogn.pythonanywhere.com/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Work Projects</div>
  </div>

  <HorizontalCard
    title="Website Score 100 on Lighthouse"
    img="/score-100.webp"
    desc="Through this project I worked on discovering every tiny detail that makes the Lighthouse Score."
    url="#"
    badge="Performance"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>
